# MongoDB Configuration
MONGO_URI=mongodb://ai:VgjVpcllJjhYy2c@65.109.31.94:27017/ien?authSource=ien
DB_NAME=ien

# Server Configuration
HOST=0.0.0.0
PORT=8081

# Application Settings
# PYTHONDONTWRITEBYTECODE=1
# PYTHONUNBUFFERED=1
